STRING_SESSION1 = "BQCCJ7MAc4tDycQ4PMYxA0ztSmlP__y2ADrQDK5dFSHNjgXCaN4b3pmQ1Q0k5XqBf7_WwvGont6BYpXqOWxVaMyQO_O2wHGUI-DsGb8unFWA_KeVNFU0hVqmk5f1RpzmrwJIR3vyNt8pfDDNhzU7QW3zJVKEFWfffL_teMESottx6pSncTx1C5uEpMn_93x38_F-9bhOnSLiKv_GBm5IHloAhbXq8SoDnpKpDwv17W2BXZr2Jzh1wseGteB8V7EJ3ptzQB9GtOG8ZlKekb6pFW8gI7EJWsvpf_4serfCFvtBmClNSEFU10zo6uIaHNJ8X_m-8m4oE7YBvDwFNnqIKGm4vhILFgAAAAB_KaBGAA"
STRING_SESSION2 = "BQC3ZcZtThN4PJAP2YdebKSXbTkoWb3EpQGeREWtPRt5390D9x4iZhBssG3UB7QXcITdpPdqkyzoExKf6Ac5chIVYcppkxBIOQ4MUovUumlYaH9LQA2wFELZxD0R0vGIXi1NcUr0Ew9J4of_zgrbseribkm68Y4tfBrD10cuF2yTzU1jGtd5Y1oceFGvNdJXoce6vk9u7imciIP5SNqpxD-7-jOLrhlOkSTbQQ7tfuRQR-CBGOL33oeUCRd6oFP2fIhPhIeay4Zkz8EC5WYWUeAoFZLJ4FSFxeJZzm2GKsMBctv7aPimDWQYdwY17325TQZgYrBsvIlamN3s0C99LmZCdgzYWwA"
SUDO_USERS = "5173997839"
OWNER_ID = "2133434438"
BOT_TOKEN = "5955445604:AAHfetV9cxbp9s9YCCJU3GxKgYLwuZ2lvb8"
MONGO_URL = "mongodb+srv://geez:geez@cluster0.lkiln4r.mongodb.net/?retryWrites=true&w=majority"
BOTLOG_CHATID = "-1001667983274"
